<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tzs.antique.system.mapper.ArtifactMapper">

    <select id="findAll" resultType="com.tzs.antique.system.entity.Artifact">
        SELECT * FROM artifacts
        WHERE
            (#{search} IS NULL OR name LIKE CONCAT('%', #{search}, '%') OR description LIKE CONCAT('%', #{search}, '%'))
          AND (#{type} IS NULL OR type = #{type})
          AND (#{period} IS NULL OR period = #{period})
          AND (#{museum} IS NULL OR museum = #{museum})
        ORDER BY ${sortBy} ${order}
    </select>

</mapper>
